@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>
</div>
<br />
<br />
<div class="text-center">
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
